.weatherSearchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 40px 20px;
    border-radius: 10px;
    max-width: 700px;
    margin: auto;
    transition: background 0.3s ease, color 0.3s ease;
    color: white;
    text-align: center;
    width: 100%;
    background: transparent;
}

.nameAplication {
    font-size: 1.5rem;
    font-weight: bold;
}

.input {
    padding: 10px;
    width: 80%;
    max-width: 580px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.error {
    color: red;
    font-weight: bold;
}

.loading {
    font-weight: bold;
}

.weatherInfo {
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 100%;
    max-width: 500px;
}

.temp {
    font-size: 18px;
    font-weight: 500;
}

.weatherDescription {
    font-size: 14px;
    font-weight: 600;
    color: #23385e;
    text-align: center;
}

.humidity,
.wind {
    font-size: 1rem;
    margin-top: 5px;
}

.cityName {
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}

.titleNextDays {
    margin-top: 100px;
    text-align: center;
}

.dailyDay {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

* {
    font-family: "Montserrat", sans-serif;
}

button {
    border-radius: 4px;
    width: 100px;
    height: 25px;
    border: none;
    margin-left: 10px;
}

.toggleButton {
    position: absolute;
    top: 25px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: transform 0.2s;
}

.historyList {
    list-style-type: none;
    padding: 0;
}

.historyItem {
    cursor: pointer;
    padding: 8px;
    border: 1px solid #ddd;
    margin: 5px 0;
    border-radius: 4px;
}

.historyItem:hover {
    background-color: #36ac94;
}

.favoriteButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    padding: 0;
}

.favoriteButton:hover {
    color: #ff4c4c;
}

.favoriteContainer {
    margin-top: 20px;
}

.favoriteContainer h4 {
    font-size: 18px;
    margin-bottom: 10px;
}
