.weatherSearchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 40px 20px;
    border-radius: 10px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);  sombra mais suave */
    max-width: 700px;
    margin: auto;
    transition: background 0.3s ease, color 0.3s ease;
    color: white;
    text-align: center;
    width: 100%;
    background: transparent; /* Fundo transparente */
}

.nameAplication {
    font-size: 1.5rem;
    font-weight: bold;
}

.input {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #ffff;
}

.error {
    color: red;
    font-weight: bold;
}

.loading {
    font-weight: bold;
    color: gray;
}

.weatherInfo {
    /* background: rgba(255, 255, 255, 0.1); Transparente com leve fundo */
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 100%;
    max-width: 500px;
}

.temp {
    font-size: 18px;
    font-weight:500;
}

.weatherDescription {
    /* font-style: italic; */
    font-size:14px ;
    font-weight: 600;
    color: #23385e;
    text-align: center;
}

.humidity, .wind {
    font-size: 1rem;
    margin-top: 5px;
}

.cityName {
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}

.titleNextDays {
    margin-top: 100px;
    /* font-style: italic; */
    text-align: center;
}

.dailyDay {
    /* background: rgba(255, 255, 255, 0.15); Transparente com leve fundo */
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

* {
    /* background-color: #6a81ac; Cor de fundo mais suave */
    font-family: "Montserrat", sans-serif;
}